body {
    margin: 0;
    padding: 0;
    background: url(../IMG/fondo3.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
 }
 .login-box{  
     width: 400px;
     height: 420px;
     background: rgba(31, 134 ,173, .8);
     color: #fff;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
     padding: 70px 30px;
     border-radius: 40px;
 }
 .login-box .avatar{
     width: 120px;
     height: 120px;
     border-radius: 20%;
     position: absolute;
     top: -50px;
     left: calc(48% - 50px);
 }
 .login-box h1{
     margin: 0;
     padding: 0 0 20px;
     text-align: center;
     font-size: 22px;
     
 }
 .login-box h5{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    
}
 .login-box input{
     width: 100%;
     margin-bottom: 20px;
 }
 .login-box input[type="text"]{
     border: none;
     border-bottom:1px solid #fff;
     background: transparent;
     outline: none;
     height: 40px;
     color: #fff;
     font-size: 16px;
 }
 
 .login-box input[type="button"]{
     border:none;
     outline: none;
     height: 40px;
     background: #5564eb;
     color: #fff;
     font-size: 18px;
     border-radius: 20px;
 }
 .login-box input[type="button"]:hover{
     color: black;
 }
 .login-box ::placeholder{
    color: #fff;
}
 